<% include partials/header %>
<link rel="stylesheet" href="/css/dashboard.css">

<div class="main-content">
			<div class="title">
				Dashboard
			</div>


		<div class="main">
				<div class=" sales sales1">
					<div class="title">Todays Sale</div>
					<div class="chart">$30,000</div>
				</div>
				<div class="sales sales2">
					<div class="title">Yesterdays Sale</div>
					<div class="chart">$28,000</div>
				</div>
				<div class="sales sales3">
					<div class="title">Last 7 days Sale</div>
					<div class="chart">$120,000</div>
				</div>
				<div class="sales sales4">
					<div class="title">Last 30 days Sale</div>
					<div class="chart">$480,000</div>
				</div>
		</div>
		<div class="main-two">

			 <div class="analytics">
					<canvas id="lineChart" width="300" height="150"></canvas>
		   </div>

			 <div class="topStation">
				 <div class="title">Top station</div>
				 <ul>
					 <li>ABUJA STATION</li>
					 <li>JOS STATION</li>
					 <li>AWKA STATION</li>
				 </ul>
			 </div>
		</div>



</div>

<% include partials/footer %>
