<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <form class="login-box" action="/register" method="post">
      <h1>Register</h1>
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="email" placeholder= "Username" name="username" value="" required>
      </div>

      <div class="textbox">
        <i class="fas fa-unlock"></i>
        <input type="password" placeholder= "Password" name="password" value="" required>
      </div>
      <button class = "btn">Register</button>
    </form>

  </body>
</html>
