* {
  box-sizing: border-box; }

body {
  margin: 0;
  paddin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.header {
  position: absolute;
  width: 100%;
  z-index: 3;
  height: 44px;
  background-color: #fff;
  border-bottom: 3px solid #2d3d51; }

/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
  height: 44px;
  padding: 10px;
  font-weight: 700; }

.header .logo {
  color: #233245; }

.side-nav .logo {
  background-color: #233245;
  color: #fff; }

.header .logo {
  float: left;
  height: 44px;
  z-index: 1;
  padding: 10px;
  font-weight: 700;
  color: #233245; }

.logo i {
  font-size: 22px; }

.logo span {
  margin-left: 5px;
  text-transform: uppercase; }

.nav-trigger {
  position: relative;
  float: right;
  width: 20px;
  height: 44px;
  right: 30px;
  display: block; }
  .nav-trigger span {
    width: 20px;
    height: 2px;
    background-color: #35475e;
    position: absolute; }
    .nav-trigger span:before {
      width: 20px;
      height: 2px;
      background-color: #35475e;
      position: absolute; }

span:after {
  width: 20px;
  height: 2px;
  background-color: #35475e;
  position: absolute; }

.nav-trigger span {
  top: 50%; }
  .nav-trigger span:before, .nav-trigger span:after {
    content: ''; }
  .nav-trigger span:before {
    top: -6px; }
  .nav-trigger span:after {
    top: 6px; }

/* side navigation styles */
.side-nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #35475e;
  z-index: 1;
  display: none; }
  .side-nav.visible {
    display: block; }
  .side-nav ul {
    margin: 0;
    padding: 0; }
  .side-nav li:hover {
    background: #d5dae5;
    transition: all 0.3s ease; }
  .side-nav ul li {
    padding: 16px 16px;
    border-bottom: 1px solid #3c506a;
    position: relative; }
    .side-nav ul li.active:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #fff; }
    .side-nav ul li a {
      color: #fff;
      display: block;
      text-decoration: none; }
    .side-nav ul li i {
      color: #0497df;
      min-width: 20px;
      text-align: center; }
    .side-nav ul li span:nth-child(2) {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 600; }

/* main content styles */
.main-content {
  padding: 40px;
  margin-top: 0;
  padding: 0;
  padding-top: 44px;
  height: 100%;
  overflow: scroll; }
  .main-content .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #b8bec9;
    padding: 10px 20px;
    font-weight: 700;
    color: #333;
    font-size: 18px; }

/* main box container */
.main {
  display: grid;
  grid-gap: 15px;
  margin: 15px 15px 30px 15px;
  grid-template-areas: 'sales1 sales2 sales3 sales4';
  grid-template-columns: repeat(4, 1fr); }
  .main .sales .title {
    text-align: center;
    text-transform: uppercase; }

.sales1 {
  grid-area: sales1;
  border-radius: 6px;
  background-color: #ffffff;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 400; }

.sales2 {
  grid-area: sales2;
  border-radius: 6px;
  background-color: #ffffff;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 400; }

.sales3 {
  grid-area: sales3;
  border-radius: 6px;
  background-color: #ffffff;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 400; }

.sales4 {
  grid-area: sales4;
  border-radius: 6px;
  background-color: #ffffff;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 400; }

.sales {
  flex-basis: 210px;
  flex-grow: 10;
  height: 100px;
  margin: 15px;
  border-radius: 6px;
  background-color: #ffffff;
  position: relative; }
  .sales .amountMade {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin: 5px; }

.widget .title {
  text-align: center;
  text-transform: uppercase; }

/* Each station Css */
/* TODO: find a way to add a horizontal scroll for each stations */
.stationsSale {
  background-color: lightgrey;
  border: 2px solid lightgrey;
  border-radius: 6px;
  display: flex;
  flex-flow: row wrap;
  margin: 15px;
  /* Let's get this party started */
  /* Handle */ }
  .stationsSale .stationsView {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-face-color: #eef1f7;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF; }
    .stationsSale .stationsView .eachStation, .stationsSale .stationsView .stationInfo {
      display: inline-block;
      width: 250px; }
  .stationsSale .stationsView::-webkit-scrollbar {
    height: 9px; }
  .stationsSale .stationsView::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #eef1f7;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5); }
  .stationsSale .stationInfo {
    margin: 10px;
    background-color: lightgray;
    text-align: left;
    margin-left: 15px;
    padding: 5px;
    position: relative;
    height: 150px; }
    .stationsSale .stationInfo h3 {
      text-transform: uppercase;
      font-weight: bold; }

.sales .eachStation {
  border-bottom: 0; }

.stationsSale .sales {
  height: 150px; }

.eachStation .title {
  background-color: #eef1f7;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5px;
  text-align: center;
  font-size: 15px;
  border: 0;
  border-radius: 0px;
  border-top: 1px solid lightgray; }

.litresSold {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin: 5px; }

.litres {
  margin-top: 20px; }

hr {
  margin-top: 10px; }

h3 {
  font-size: 15px;
  margin: 0; }

html {
  overflow-y: scroll; }

@media screen and (min-width: 1171px) {
  .header {
    background-color: #35475e;
    z-index: 1; }
  .nav-trigger {
    display: none; }
    .nav-trigger span {
      background-color: #fff; }
      .nav-trigger span:before {
        background-color: #fff; }
  span:after {
    background-color: #fff; }
  .side-nav {
    display: block;
    width: 250px; }
    .side-nav ul li span:nth-child(2) {
      display: inline-block; }
    .side-nav ul li i {
      font-size: 16px; }
    .side-nav ul li a {
      text-align: left; }
  .main-content {
    margin-left: 250px; }
  .main {
    grid-template-columns: repeat(4, 1fr); }
  .main-two {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .header {
    background-color: #35475e;
    z-index: 1; }
  .nav-trigger {
    display: none; }
    .nav-trigger span {
      background-color: #fff; }
      .nav-trigger span:before {
        background-color: #fff; }
  span:after {
    background-color: #fff; }
  .side-nav {
    display: inline-block;
    width: 200px; }
    .side-nav ul li span:nth-child(2) {
      display: inline-block;
      font-size: 16px; }
    .side-nav ul li i {
      font-size: 16px; }
    .side-nav ul li a {
      text-align: left; }
  .main-content {
    margin-left: 200px; }
  .main {
    grid-template-areas: 'sales1 sales2' 'sales3 sales4';
    grid-template-columns: repeat(2, 1fr); }
  .main-two {
    align-items: center;
    grid-template-areas: 'analytics' 'topStation';
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); }
    .main-two .topStation {
      margin: 0 auto;
      margin-bottom: 15px; } }

@media screen and (min-width: 500px) and (max-width: 768px) {
  .header {
    background-color: #35475e;
    z-index: 1; }
    .header .logo {
      display: none; }
  .nav-trigger {
    display: none; }
    .nav-trigger span {
      background-color: #fff; }
      .nav-trigger span:before {
        background-color: #fff; }
  span:after {
    background-color: #fff; }
  .side-nav {
    display: block;
    width: 70px;
    z-index: 2; }
    .side-nav ul li span:nth-child(2) {
      display: none; }
    .side-nav .logo i {
      padding-left: 12px; }
    .side-nav .logo span {
      display: none; }
    .side-nav ul li i {
      font-size: 26px; }
    .side-nav ul li a {
      text-align: center; }
  .main-content {
    margin-left: 70px; }
  .main {
    grid-template-areas: 'sales1 sales2' 'sales3 sales4';
    grid-template-columns: repeat(2, 1fr); }
  .main-two {
    align-items: center;
    grid-template-areas: 'analytics' 'topStation';
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); }
    .main-two .topStation {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 15px; } }

@media screen and (max-width: 500px) {
  .header {
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 44px;
    background-color: #fff;
    border-bottom: 3px solid #2d3d51; }
  /* logo in header(mobile version) and side-nav (tablet & desktop) */
  .logo {
    height: 44px;
    padding: 10px;
    font-weight: 700; }
  .header .logo {
    color: #233245; }
  .side-nav .logo {
    background-color: #233245;
    color: #fff; }
  .header .logo {
    float: left;
    height: 44px;
    z-index: 1;
    padding: 10px;
    font-weight: 700;
    color: #233245; }
  .logo i {
    font-size: 22px; }
  .logo span {
    margin-left: 5px;
    text-transform: uppercase; }
  .nav-trigger {
    position: relative;
    float: right;
    width: 20px;
    height: 44px;
    right: 30px;
    display: block; }
    .nav-trigger span {
      width: 20px;
      height: 2px;
      background-color: #35475e;
      position: absolute; }
      .nav-trigger span:before {
        width: 20px;
        height: 2px;
        background-color: #35475e;
        position: absolute; }
  span:after {
    width: 20px;
    height: 2px;
    background-color: #35475e;
    position: absolute; }
  .nav-trigger span {
    top: 50%; }
    .nav-trigger span:before, .nav-trigger span:after {
      content: ''; }
    .nav-trigger span:before {
      top: -6px; }
    .nav-trigger span:after {
      top: 6px; }
  /* side navigation styles */
  .side-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #35475e;
    z-index: 1;
    display: none; }
    .side-nav.visible {
      display: block; }
    .side-nav li:hover {
      background: #d5dae5;
      transition: all 0.3s ease; }
    .side-nav ul {
      margin: 0;
      padding: 0; }
      .side-nav ul li {
        padding: 16px 16px;
        border-bottom: 1px solid #3c506a;
        position: relative; }
        .side-nav ul li.active:before {
          content: '';
          position: absolute;
          width: 4px;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #fff; }
        .side-nav ul li a {
          color: #fff;
          display: block;
          text-decoration: none; }
        .side-nav ul li i {
          color: #0497df;
          min-width: 20px;
          text-align: center; }
        .side-nav ul li span:nth-child(2) {
          margin-left: 10px;
          font-size: 14px;
          font-weight: 600; }
  .main {
    margin-right: 15px;
    grid-template-areas: 'sales1' 'sales2' 'sales3' 'sales4';
    grid-template-columns: 1fr; }
  .main-two {
    grid-template-areas: 'analytics' 'topStation';
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); }
    .main-two .topStation {
      width: 100%; } }
