@import 'config';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  paddin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 3;
  height: 44px;
  background-color: #fff;
  border-bottom: 3px solid #2d3d51;
}

/* logo in header(mobile version) and side-nav (tablet & desktop) */

.logo {
  height: 44px;
  padding: 10px;
  font-weight: 700;
}

.header .logo {
  color: #233245;
}

.side-nav .logo {
  background-color: #233245;
  color: #fff;
}

.header .logo {
  float: left;
  height: 44px;
  z-index: 1;
  padding: 10px;
  font-weight: 700;
  color: #233245;
}

.logo {
  i {
    font-size: 22px;
  }
  span {
    margin-left: 5px;
    text-transform: uppercase;
  }
}

.nav-trigger {
  position: relative;
  float: right;
  width: 20px;
  height: 44px;
  right: 30px;
  display: block;
  span {
    width: 20px;
    height: 2px;
    background-color: #35475e;
    position: absolute;
    &:before {
      width: 20px;
      height: 2px;
      background-color: #35475e;
      position: absolute;
    }
  }
}

span:after {
  width: 20px;
  height: 2px;
  background-color: #35475e;
  position: absolute;
}

.nav-trigger span {
  top: 50%;
  &:before, &:after {
    content: '';
  }
  &:before {
    top: -6px;
  }
  &:after {
    top: 6px;
  }
}

/* side navigation styles */

.side-nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #35475e;
  z-index: 1;
  display: none;
  &.visible {
    display: block;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li:hover {
    background: #d5dae5;
    transition: all 0.3s ease;
  }
  ul li {
    padding: 16px 16px;
    border-bottom: 1px solid #3c506a;
    position: relative;
    &.active:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
    }
    a {
      color: #fff;
      display: block;
      text-decoration: none;
    }
    i {
      color: #0497df;
      min-width: 20px;
      text-align: center;
    }
    span:nth-child(2) {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

/* main content styles */

.main-content {
  padding: 40px;
  margin-top: 0;
  padding: 0;
  padding-top: 44px;
  height: 100%;
  overflow: scroll;

  .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #b8bec9;
    padding: 10px 20px;
    font-weight: 700;
    color: #333;
    font-size: 18px;
  }
}

/* main box container */

.main {
  display: grid;
  grid-gap: 15px;
  margin: 15px 15px 30px 15px;
  grid-template-areas:
  'sales1 sales2 sales3 sales4';
  grid-template-columns: repeat(4, 1fr);

  .sales{
    .title{
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.sales1{
  grid-area: sales1;
  border-radius: 6px;
  background-color: #ffffff;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.sales2{
  grid-area: sales2;
  border-radius: 6px;
  background-color: #ffffff;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.sales3{
  grid-area: sales3;
  border-radius: 6px;
  background-color: #ffffff;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.sales4{
  grid-area: sales4;
  border-radius: 6px;
  background-color: #ffffff;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.sales {
  flex-basis: 210px;
  flex-grow: 10;
  height: 100px;
  margin: 15px;
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;

  .amountMade {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin: 5px;
  }
}

.widget .title {
  text-align: center;
  text-transform: uppercase;
}

/* Each station Css */
/* TODO: find a way to add a horizontal scroll for each stations */

.stationsSale {
  background-color: lightgrey;
  border: 2px solid lightgrey;
  border-radius: 6px;
  display: flex;
  flex-flow: row wrap;
  margin: 15px;

  .stationsView{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-face-color: #eef1f7;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;

    .eachStation, .stationInfo{
      display: inline-block;
      width: 250px;
    }
  }

  /* Let's get this party started */
  .stationsView::-webkit-scrollbar {
    height: 9px;
  }

  /* Handle */
  .stationsView::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #eef1f7;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
  }

  .stationInfo {

    h3{
      text-transform: uppercase;
      font-weight: bold;
    }

    margin: 10px;
    background-color: lightgray;
    text-align: left;
    margin-left: 15px;
    padding: 5px;
    position: relative;
    height: 150px;
  }
}

.sales .eachStation {
  border-bottom: 0;
}

.stationsSale .sales {
  height: 150px;
}

.eachStation .title {
  background-color: #eef1f7;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5px;
  text-align: center;
  font-size: 15px;
  border: 0;
  border-radius: 0px;
  border-top: 1px solid lightgray;
}

.litresSold {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin: 5px;
}

.litres {
  margin-top: 20px;
}

hr {
  margin-top: 10px;
}

h3 {
  font-size: 15px;
  margin: 0;
}

html {overflow-y: scroll;}


@import 'mobile';
