<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Station App</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">



  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  <body>
    <div class="header">
  <div class="logo">
    <i class="far fa-angry"></i>
    <span>Brand</span>
  </div>
  <a href="#" class="nav-trigger"><span></span></a>

</div>
<div class="side-nav">
  <div class="logo">
    <i class="far fa-angry"></i>
    <span>Brand</span>
  </div>
  <nav>
    <ul>
      <!-- TODO: find how to add active class -->
      <li class="">
        <a href="\">
          <span><i class="fa fa-home"></i></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/stations">

          <span><i class="fa fa-burn"></i></span>
          <span>Stations</span>
        </a>
      </li>
      <li >
        <a href="/sales">
          <span><i class="fa fa-money-check-alt"></i></span>
          <span>Sales</span>
        </a>
      </li>
      <li>
        <a href="/viewStation">
          <span><i class="fa fas fa-cog"></i></span>
          <span>Admin</span>
        </a>
      </li>
      <li class="log-out">
        <a href="/logout">
          <span><i class="fas fa-sign-out-alt"></i></span>
          <span>Log out</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
